<!DOCTYPE html>
<html>
    <head>
        <title>Orquidea || Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form method="POST" action="../Controller/cadas_dados.php">
            Nome</br><input type="text" name="wnome" ></br>
            CPF</br><input type="number" name="wcpf" ></br>
            Email</br><input type="email" name="wemail"  ></br>
            Telefone 1</br><input type="number" name="wtel1" ></br>
            Telefone 2</br><input type="number" name="wtel2"></br>
            Endereço</br><input type="text" name="wender"  ></br>
            Bairro</br><input type="text" name="wbair"  ></br>
            UF</br>           
           <select name="wuf">
             <option value="AC">AC</option>
             <option value="AL">AL</option>
             <option value="AM">AM</option>
             <option value="AP">AP</option>
             <option value="BA" selected="">BA</option>
             <option value="CE">CE</option>
             <option value="AP">AP</option>
             <option value="DF">DF</option>
             <option value="AP">ES</option>
             <option value="GO">GO</option>
             <option value="MA">MA</option>
             <option value="MT">MT</option>
             <option value="MS">MS</option>
             <option value="MG">MG</option>
             <option value="AP">AP</option>
             <option value="PA">PA</option>
             <option value="PB">PB</option>
             <option value="PR">PR</option>
             <option value="PE">PI</option>
             <option value="RJ">RJ</option>
             <option value="RN">RN</option>
             <option value="RS">RS</option>
             <option value="RO">RO</option>
             <option value="RR">RR</option>
             <option value="SC">SC</option>
             <option value="SP">SP</option>
             <option value="SE">SE</option>
             <option value="TO">TO</option>
           </select></br>
           Nacionalidade</br><input type="text" name="wpais"  ></br>
           Data de Nascimento</br><input type="date" name="wnasc"  ></br>
            
           
           Novo Login</br><input type="text" name="wlog"  ></br>
           Nova Senha</br><input type="password" name="wsen" ></br>
            <input type="submit">
        </form>

    </body>
</html>