<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Cadastro Empresarial</title>
    </head>
    <body>
        <form method='POST' action='../Controller/cadas_empres.php'>
            Nome Da Empresa</br><input type="text" name="wnome"><br>
            CNPJ</br><input type="text" name="wcnpj"><br>
            Contato 01</br><input type="text" name="wcontato1"><br>
            Contato 02</br><input type="text" name="wcontato2"><br>
            Endereço</br><input type="text" name="wendereco"><br>
            Bairro</br><input type="text" name="wbairro"><br>
            UF</br>            
           <select name="wuf" >
             <option value="AC">AC</option>
             <option value="AL">AL</option>
             <option value="AM">AM</option>
             <option value="AP">AP</option>
             <option value="BA" selected="">BA</option>
             <option value="CE">CE</option>
             <option value="AP">AP</option>
             <option value="DF">DF</option>
             <option value="AP">ES</option>
             <option value="GO">GO</option>
             <option value="MA">MA</option>
             <option value="MT">MT</option>
             <option value="MS">MS</option>
             <option value="MG">MG</option>
             <option value="AP">AP</option>
             <option value="PA">PA</option>
             <option value="PB">PB</option>
             <option value="PR">PR</option>
             <option value="PE">PI</option>
             <option value="RJ">RJ</option>
             <option value="RN">RN</option>
             <option value="RS">RS</option>
             <option value="RO">RO</option>
             <option value="RR">RR</option>
             <option value="SC">SC</option>
             <option value="SP">SP</option>
             <option value="SE">SE</option>
             <option value="TO">TO</option>
           </select>
            <input type="submit">
    </body>
</html>
