/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    width: device-width;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: #2F0B3A;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2F0B3A;
    color: #fffff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #2F0B3A;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #2F0B3A;
}

#sidebar ul p {
    color: #ffffff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #2F0B3A;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ffffff;
    background: #6A0888;
}


a[data-toggle="collapsea"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 10px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6A0888;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #6A0888;
}
a.article, a.article:hover {
    background: #6A0888 !important;
    color: #fff !important;
}

#menu-item-active{
    border: 1px solid #555;    
    background: #6A0888;
}

#menu-item {
    color: #dbccff;
}

#menu {
    background: #2F0B3A;
    color: #fffff;    
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#content.active {
    width: 100%;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/*----------------------------------------------------
    PERFIL
-----------------------------------------------------*/
#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    width: 635px;
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 1px;

/* For visibility. Delete me */
border: 10px solid gray;
}

#Photo
{
    /* Width and height of photo container */
    width: 185px;
    height: 200px;

/* For visibility. Delete me */
border: 1px solid black;
}

#PhotoOptions
{
    text-align: center;
    width: 200px;

/* For visibility. Delete me */
border: 1px solid black;
}

#Info
{
    width: 400px;
    text-align: center;

    /* Move it to the right */
    float: right;

/* For visibility. Delete me */
border: 1px solid blue;
}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;

/* For visibility. Delete me */
border: 1px solid blue;
}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;

/* For visibility. Delete me */
border: 10px solid purple;
}   


main{
    margin: 0 auto;
    width: 1366px;
    position: relative;
}
.header-1{
    width: 100%;
    height: 100px;
    margin: 0% auto;
    background-color: #3B0B39;
    margin-left: 0%;
    border-bottom: 3px solid #2A0A29;
    border-left: 3px solid #2A0A29;
}
/*.header-2{
    width: 1366px;
    height: 100px;
    margin: 0% auto;
    background-color: #ffffff;
}*/
.logo{
    margin-left: 55px;
    margin-top: 2px;
    padding-left: 16px;
    width: 20%;
    float: left;
    background-color: #2F0B3A;    
}
.menu ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px; 
    text-transform: uppercase;
    background-color: #6A0888;    
}
.menu ul li{
    margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px;
    display: inline-block;
    float: left;
    list-style: none;
    background: #2F0B3A;    
}
.menu{
    width: 50%;
    float: right;
    background-color: #2F0B3A;    
}
.busca{
    padding-top: 40px;
    padding-right: 40px;
    text-align: right;
}
.col-100{
    width: 100%;
    float: left;
    position: relative;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}

body{
  background: "";
  font-family:'Open Sans',sans-serif;
  background-repeat: no-repeat;
}

.button{
  width:100px;
  background: #000000;;
  display:block;
  margin:0 auto;
  margin-top:1%;
  padding:10px;
  text-align:center;
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

.button:hover{
  background: #000000;;
}

#login{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#triangle{
  width:0;
  border-top:10x solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #000000;
  border-left:10px solid transparent;
  margin:0 auto;
}

#login h1{
  background:black;      
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

form{
  background: #f0f0f0;
  padding:6% 4%;
}

input[type="*"]{
  width:92%;
  background:#fff;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

input[type="submit"]{
  width:100%;
  background: #000000;;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

input[type="submit"]:hover{
  background:#2288bb;
}



div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


/*@import "https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css";
*/
#container-vertical{
  font-family: arial;
  display: flex;
  align-items: center;
  height: 100%;
  background: #edecec;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#container-horizontal{
    display: inline;
    width: 100%;
    padding: 10%;
}

#painel-botoes{
  display: flex;
  flex-wrap: wrap;
}
.botao{
  background: #f9f9f9;
  width: 30%;
  flex-grow: 1;
  margin: 10px;
  height: 20vh;
  border-radius: 10px;
  box-shadow: 2px 6px 28px -11px #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.botao:hover{
  box-shadow: 4px 6px 43px -10px #CCC !important;
  position: relative;
  bottom: -2px;
  background: #FFF;
  opacity: 0.6;
  transition: 0.2s;
}

.icone-botao{
  font-size: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
}

.nome-botao{
  width: 100%;
  text-align: center;
  background: #ffffff;
  padding: 5px 0px;
  border-radius: inherit;
  box-shadow: 0px -11px 10px -14px #696969;
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: center;
  font-size: 2vh;
  text-transform: uppercase;
  color: #151515;
}

.b1 {
  color: #00BAc2;
}

.b2 {
  color: #ffb200;
}

.b3 {
  color: #13b509;
}

.b4 {
  color: #ff4747;
}

.b5 {
  color: #8a8787;
}

.b6 {
  color: #cd4dff;
}

.b7 {
  color: #0e0e0e;
}

.b8 {
  color: #3c58c1;
}

.b9 {
  color: #dc6f46;
}



/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}

.font-poppins {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
}

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row-space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.col-2 {
  width: -webkit-calc((100% - 60px) / 2);
  width: -moz-calc((100% - 60px) / 2);
  width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
  .col-2 {
    width: 100%;
  }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

button {
  outline: none;
  background: none;
  border: none;
}

/* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
.page-wrapper {
  min-height: 100vh;
}

body {
  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */


.bg-gra-01 {
  background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
  background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
  background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
  padding-top: 100px;
  
}

.p-t-180 {
  padding-top: 180px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-10 {
  padding-top: 10px;
  padding-left: 520px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-b-100 {
  padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
  max-width: fit-content
}

.wrapper--w960 {
  max-width: 960px;
}

.wrapper--w780 {
  max-width: 780px;
}

.wrapper--w680 {
  max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18px;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5;
}

input[type="date" i] {
  padding: 14px;
}

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.daterangepicker td {
  width: 40px;
  height: 30px;
}

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px;
}

.daterangepicker::after, .daterangepicker::before {
  display: none;
}

.daterangepicker thead tr th {
  padding: 10px 0;
}

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none;
}

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.input--style-3::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ccc;
}

.input--style-3:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  opacity: 1;
}

.input--style-3::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  opacity: 1;
}

.input--style-3:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}

.input--style-3:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ccc;
}

/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
  display: none !important;
}

.rs-select2 .select2-container {
  width: 100% !important;
  outline: none;
}

.rs-select2 .select2-container .select2-selection--single {
  outline: none;
  border: none;
  height: 36px;
  background: transparent;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
  padding-left: 0;
  color: #ccc;
  font-size: 16px;
  font-family: inherit;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
  height: 34px;
  right: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
  font-family: "Material-Design-Iconic-Font";
  content: '\f2f9';
  font-size: 18px;
  color: #ccc;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.select2-container--open .select2-dropdown--below {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 36px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #fff;
}

.card-3 {
  background: #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: table;
}

.card-3 .card-heading {
  background: url("../images/bg-heading-03.jpg") top left/cover no-repeat;
  display: table-cell;
  width: 50%;
}

.card-3 .card-body {
	
  padding: 57px 65px;
  padding-bottom: 65px;
  display: table-cell;
  
  
}

@media (max-width: 767px) {
  .card-3 {
    display: block;
  }
  .card-3 .card-heading {
    display: block;
    width: 100%;
    padding-top: 400px;
    background-position: center center;
  }
  .card-3 .card-body {
    display: block;
    width: 100%;
    padding: 37px 30px;
    padding-bottom: 45px;
  }
}

/* ==========================================================================
   #TABLE
   ========================================================================== */

#tableInfo {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableInfo td, #tableInfo th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableInfo tr:nth-child(even){background-color: #f2f2f2;}

#tableInfo tr:hover {background-color: #ddd;}

#tableInfo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2F0B3A;
  color: white;
}

/* =========================================================================
#CART
============================================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Coda');

/* SCAFFOLDING */
*, *::before, *::after {
  box-sizing: border-box;
}

html, 
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(215, 215, 225);
  color: rgb(33, 33, 33);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
}

h1, 
h2, 
h3, 
h4,
h5, 
h6 {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link, 
a:hover, 
a:focus, 
a:visited {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

/* HEADER */
.header {
  background: rgb(33, 33, 33);
  box-shadow: 1px 1px 1.5rem rgb(0, 0, 0);
  width: 100%;
}

.nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.nav .logo {
  align-items: center;
  color: rgb(233, 233, 233);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: 'Varela Round', sans-serif;
  justify-content: center;
  padding: 0.75rem 0 0.25rem 0;
}

.nav .logo > svg {
  margin-right: 0.5rem;
}

.nav .logo > svg path {
  fill: rgb(97, 196, 36);
}

.nav .logo > h1 {
  margin: 0;
}

.nav ul {
  font-family: 'Coda', sans-serif;
  margin: 0.5rem 0;
}

.nav ul > li {
  display: inline-block;
}

.nav ul > li:not(:first-child) {
  margin-left: 1rem;
}

.nav ul > li a:link,
.nav ul > li a:active, 
.nav ul > li a:visited {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  color: rgb(133, 233, 143);
  display: block;
  padding: 0.5rem;
  transition: all 250ms ease-in-out;
}

.nav ul > li a:hover, 
.nav ul > li a:focus {
  background: rgb(66, 66, 66);
  border: 1px solid rgba(55, 95, 55, 0.5);
  transition: all 250ms ease-in-out;
}

.nav ul > li a:link > svg, 
.nav ul > li a:active > svg,
.nav ul > li a:visited > svg {
  fill: rgb(133, 233, 143);
}

.nav ul > li.active a:link,
.nav ul > li.active a:active, 
.nav ul > li.active a:visited {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgb(146, 196, 166);
  border-radius: 0.3rem;
  color: rgb(33, 33, 33);
  transition: background-color 400ms;
}

.nav ul > li.active a:hover, 
.nav ul > li.active a:focus {
  background: rgb(126, 176, 133);
  transition: background-color 400ms;
}

.nav ul > li.active a:link > svg, 
.nav ul > li.active a:active > svg,
.nav ul > li.active a:visited > svg  {
  fill: rgb(33, 33, 33);
}

@media screen and (min-width: 375px) {
  .nav {
    flex-direction: row;
    padding: 0 2rem;
  }
  
  .nav .logo {
    justify-content: flex-start;
    padding: 0.75rem 0;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0 3rem;
  }
}

/* MAIN */
.main {
  flex-direction: column;
  flex: 1 0 auto;
  margin: 2rem auto;
  width: 100%;
}

.main .container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 3rem;
  max-width: 1200px;
}

.disclaimer {
  background: rgb(121, 199, 165);
  border: 1px solid rgb(99, 139, 113);
  border-radius: 0.3rem;
  color: rgb(33, 75, 61);
  font-family: 'Coda', sans-serif;
  margin-bottom: 2rem;
  transition: background 0.4s;
}

.disclaimer:hover {
  background: rgb(121, 219, 155);
  transition: background 0.4s;
}

.disclaimer p {
  margin: 0;
  padding: 0.5rem;
}

.main > #content {
  opacity: 1;
  transition: all 350ms;
}

#content h2 {
  border-bottom: 1px solid rgba(33, 33, 33, 0.25);
  font-family: 'Varela Round', sans-serif;
  padding-bottom: 0.5rem;
}

.item-list {
  flex-wrap: wrap;
  justify-content: center;
  max-height: 100%;
}

.item-list > .item {
  background: rgb(33, 33, 33);
  border: 1px solid rgb(33, 33, 33);
  border-radius: 0.3rem;
  box-shadow: 1px 1px 10px 1px rgba(33, 33, 33, 0.75);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 1rem 0;
  overflow: hidden;
  outline: none;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.item-list > .item:hover, 
.item-list > .item:focus {
  outline: none;
}

@media screen and (min-width: 600px) and (max-width: 826px) {
  .item-list {
    justify-content: space-between;
  }
  
  .item-list > .item {
    flex: 0 0 45%;
    max-width: 350px;
  }
}

@media screen and (min-width: 827px) {
  .item-list {
    justify-content: flex-start;
  }
  
  .item-list > .item {
    flex: 0 0 31.25%;
    margin: 2% 0;
  }
  
  .item-list > .item:nth-child(3n-1) {
    margin-left: 3%;
    margin-right: 3%;
  }
}

.item img {
  height: 100%;
  transition: -webkit-filter 250ms linear;
  transition: filter 250ms linear;
  transition: filter 250ms linear, -webkit-filter 250ms linear;
  width: 100%;
}

.item:hover img,
.item:focus img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: -webkit-filter 250ms linear;
  transition: filter 250ms linear;
  transition: filter 250ms linear, -webkit-filter 250ms linear;
}

.item > .item-details {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(33, 33, 33, 0.75);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: calc(100% - 48px);
  width: 100%;
  z-index: 1;
  transition: top 500ms ease-in-out;
}

.item:hover > .item-details, 
.item:focus > .item-details {
  top: 0%;
  opacity: 1;
  transition: top 500ms ease-in-out;
}

.item-details > .item-title {
  align-items: center;
  display: flex;
  min-height: 48px;
  justify-content: space-between;
  width: 100%;
}

.item-details > .item-title h3 {
  color: rgb(215, 215, 215);
  font-family: 'Coda', sans-serif;
  text-shadow: 1px 1px 1rem rgb(33, 33, 33);
  padding: 0.5rem;
}

.item-details > .item-title > button, button.add-to-cart {
  background-color: rgb(31, 166, 122);
  border: 1px outset rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  margin: 0.5rem;
  outline: none;
  padding-left: 1.45rem;
  position: relative;
  width: 64px;
  height: 32px;
  transition: all 100ms ease-in;
}

.item-details > .item-title > button:active, button.add-to-cart:active {
  border: 1px inset rgba(255, 255, 255, 0.5);
  top: 1px;
  right: -1px;
  transition: all 100ms ease-out;
}

button.add-to-cart {
  background: rgb(31, 166, 122) url('https://vignette3.wikia.nocookie.net/olympians/images/c/c2/Pictogram_voting_support.svg/revision/latest?cb=20100724033056') 5px 6px no-repeat;
  background-size: 16px 16px;
}

.item-details > .item-title > button {
  opacity: 1;
  transition: opacity 200ms linear, -webkit-transform 500ms ease-in-out;
  transition: opacity 200ms linear, transform 500ms ease-in-out;
  transition: opacity 200ms linear, transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.item:hover > .item-details > .item-title > button, 
.item:focus > .item-details > .item-title > button {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: opacity 200ms linear, -webkit-transform 500ms ease-in-out;
  transition: opacity 200ms linear, transform 500ms ease-in-out;
  transition: opacity 200ms linear, transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition-delay: 200ms;
}

.item > .item-details > .item-description {
  color: rgb(200, 200, 200);
  font-family: 'Roboto', sans-serif;
  font-size: 0.85rem;
  padding: 0.25rem 0.5rem;
}

.item-description > p {
  letter-spacing: 1px;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

/* PRODUCT VIEW */
.product h2 {
  margin-bottom: 1rem;
}

.product-image {
  position: relative;
  float: left;
  margin-bottom: 1rem;
}

.product-image > img {
  border-radius: 0.3rem;
  box-shadow: 2px 2px 1rem rgba(33, 33, 33, 0.85);
  height: auto;
  width: 100%;
}

.product-desc > p:first-of-type {
  margin-top: 0;
}

.product-desc > p {
  line-height: 1.5rem;
}

.product-image > button.add-to-cart {
  position: absolute;
  top: 75%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  min-width: 25%;
}

@media screen and (min-width: 525px) {
  .product-image {
    margin-bottom: 0.5rem;
    margin-right: 1.5rem;
    max-width: 50%;
  }
}

/* SHOPPING CART */
.cart-items {
  border-bottom: 1px solid rgba(33, 33, 33, 0.25);
  flex-flow: column nowrap;
  padding: 1rem 0;
}

.cart-item {
  display: flex;
  flex-flow: row nowrap;
  margin: 0.5rem 0;
  width: 100%;
}

.cart-item-name {
  flex: 1 1 75%;
}

.cart-item-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.remove-item {
  background: rgba(195, 100, 125, 0.75) url('https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-512.png') -2px 0px no-repeat;
  background-size: 16px 16px;
  border: 1px solid rgba(33, 33, 33, 0.25);
  border-radius: 0.3rem;
  cursor: pointer;
  flex: 0 0 16px;
  margin-right: 0.75rem;
  outline: none;
}

.cart-total {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: right;
}

.hide {
  opacity: 0;
  transition: opacity 350ms;
}

/* FOOTER */
.footer {
  background-color: rgb(55, 55, 45);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  box-shadow: 0px 0px 0px 0px rgb(33, 33, 33);
  color: rgb(210, 210, 210);
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
  text-align: center;
  transition: all 750ms ease-in-out;
}

.footer:hover {
  background-color: rgb(5, 50, 135);
  box-shadow: 1px 1px 10px 0px rgb(33, 33, 33);
  color: rgb(210, 210, 210);
  transition: all 500ms ease-in-out;
}

.footer p {
  margin: 0;
}

a.credits, 
a.credits:link, 
a.credits:hover, 
a.credits:active, 
a.credits:visited {
  color: rgb(210, 210, 210);
  text-decoration: none;
}

a.credits .heart {
  transition: color 750ms linear;
}

.footer:hover a.credits .heart, a.credits:hover .heart {
  -webkit-animation: pulse 2s ease-in-out infinite;
          animation: pulse 2s ease-in-out infinite;
  color: rgb(210, 0, 110);
  transition: color 750ms linear;
}

.heart {
  display: inline-block;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  55% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  55% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}